*{
    font-family: Arial, Helvetica, sans-serif;
}
main{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}
.header{
   width: 50%;
   text-align: center;
   margin: 10% auto;
   background-color: #0889;
   padding: 30px;
}
.time-score-section{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    background-color: blanchedalmond;
}
.page-title {
    font-size: 40px;
    
}

p{
    line-height: 1.5;
    font-size: 22px;
}
.btn{
    color: #fff;
    background-color: #000;
    padding: 8px 12px;
    margin: 20px auto;
    border-radius: 5px;
    font-size: 18px;
}
.btn:hover {
    background-color: #097609;
    color: #fff;
    border: 2px solid #fff;
}